.h2Edit { font-family: arial, helvetica, sans-serif;
font-weight: 700;
 }
 
 
 .h1Edit { font-family: arial, helvetica, sans-serif;

 }
 .spamEdit { font-family: arial, helvetica, sans-serif;
 color: white;


 }